* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;}
  
.banner {
    position: relative;
    max-width: 100%;
  }
  .banner img {
    position: absolute;
    top: 5.5rem;
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: 3% 11%;
  }
  .texto-banner {
    position: absolute;
    top: 1rem;
    font-size: 2rem;
  }
  #ab1 {display: none;}
  #upcoming1 {
    display: none;
  }
  .underbanner h2 {
    position: absolute;
    bottom: 20rem;
    background-color: aliceblue;
    border: 1px solid #2d3797;
    width: 100%;
    height: 30px;
    text-align: center;
    
  }
  #logo {
    position: absolute;
    top: 30rem;
  }
  .main {
    position: absolute;
    left: 22rem;
    top: 31rem ;
  }
  #item1 {
    margin-bottom: 30px;
  }
  #item2 {
    margin-block-start: 10px;
    margin-bottom: 30px;
  }
  #item3 {
    margin-block-start: 10px;
    margin-bottom: 30px;
  }

nav a {
  position: relative;
  left: 60rem;
  top: 4rem;
  padding: 0.5rem;
  margin: 0.5rem;
  color: aliceblue;
  background-color: #5664e9;
  text-decoration: none;
  font-size: 180%;
  box-shadow: 5px 6px 2px rgba(0, 0, 0, 0.4);
  

}
nav a:first-child {
  background-color: rgb(113, 174, 53);
}
  
.mainart {
  position: absolute;
    left: 22rem;
    top: 30rem ;

}
#art1 {
  margin-bottom: 30px;
}
#art2 {
  margin-block-start: 10px;
  margin-bottom: 30px;
}
#art3 {
  margin-block-start: 10px;
  margin-bottom: 30px;
}
.contact {
  position: absolute;
    left: 22rem;
    top: 31rem ;
}
#contact1 {
  margin-block-start: 10px;
  margin-bottom: 25px;



}



  
  

  

